<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperación de contraseña</title>
</head>
<body>
    <h2>Recuperación de contraseña</h2>
    <h2> Hi {{username}}</h2>
    <p>
        <h2>{{code}}</h2>
        <p><small>El código que se le ha enviado solo sera valido por 10 minutos,
            en el caso de transcurrir el tiempo, relize de nuevo la solicitud </small></p>
    </p>
</body>
</html>